@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main-section .content-section {
  flex: 0 0 55%;
}

.main-section .code-section {
  flex: 0 0 45%;
  background-color: var(--code-bg);
  order: -1;
}

.main-section .code-section .code-header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.75rem;
  background-color: var(--dark-code-bg);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.45);
}

.main-section .code-section .code-header .title {
  font-size: 12px;
  color: var(--white);
}

.main-section .code-section .code-header .title .title-icon {
  font-size: 80%;
  opacity: 0.35;
  margin-right: 1rem;
}

.main-section .code-section .code-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.45);
}

.main-section .code-section .code-content code {
  font-family: monospace;
  color: var(--white);
  display: block;
  font-size: 10px;
  line-height: 16px;
}

.main-section .code-section .code-content .comment {
  opacity: 0.5;
}

.main-section .code-section .code-content .comment .line-number {
  opacity: 0.95;
}

.main-section .code-section .code-content code .line-number {
  margin-right: 1rem;
  font-weight: bold;
  opacity: 0.45;
  display: none;
}

.main-section .code-section .code-content code.tab-1 {
  margin-left: 3rem;
}
.main-section .code-section .code-content code.tab-2 {
  margin-left: 5rem;
}

.main-section .code-section .code-content code .line-number.tab-1 {
  margin-right: 3rem;
}

.main-section .code-section .code-content code .line-number.tab-2 {
  margin-right: 5rem;
}

.main-section .code-section .code-content code var {
  color: var(--var-text);
  font-weight: bolder;
}

.main-section .code-section .code-content code .import-var {
  color: var(--import-var);
}

.main-section .code-section .code-content code .console {
  color: var(--console);
}

.main-section .code-section .code-content code .log {
  color: var(--var-text);
}

.main-section .code-section .code-content code .code-input,
.main-section .code-section .code-content code .code-input::placeholder {
  color: var(--white);
}

.main-section .code-section .code-footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.main-section .code-section .code-footer .form-control {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.main-section .code-section .code-footer .form-control.justify-end {
  justify-content: flex-end;
}

.main-section .code-section .code-footer .form-control .img-wrapper {
  width: 80px;
}

.main-section .code-section .code-footer .form-control img {
  width: 100%;
}

.main-section .code-section .code-footer .form-control .form-group {
  flex: 0 0 45%;
}

.main-section
  .code-section
  .code-footer
  .form-control
  .form-group.single-form-group {
  flex: unset;
  width: 100%;
}
.main-section .code-section .code-footer .form-control .form-group input,
.main-section .code-section .code-footer .form-control .form-group textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  padding: 0.5rem;
  font-size: 10px;
}

.main-section .code-section .code-footer .form-control .form-group textarea {
  width: 100%;
  resize: none;
}

.main-section
  .code-section
  .code-footer
  .form-control
  .form-group
  input::placeholder,
.main-section
  .code-section
  .code-footer
  .form-control
  .form-group
  textarea::placeholder {
  color: var(--white);
  opacity: 0.8;
}

.content-section {
  display: flex;
  justify-content: center;
  background-color: var(--contentSectionBg);
}

.content-section-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.content-section-logo {
  text-transform: capitalize;
  color: var(--fontColor);
  padding: 1rem 0;
}

.content-section-logo h3 {
  font-size: 1rem;
}

.content-section-logo span {
  color: var(--valentineColor);
}

.content-section-card {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  margin-bottom: 2em;
  background-image: url("../assets/card_bg.png");
  background-size: 100% 100%;
  background-position: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 7rem 0 5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 9px -3px rgba(201, 197, 201, 0.2);
  -moz-box-shadow: 0px 1px 9px -3px rgba(201, 197, 201, 0.2);
  box-shadow: 0px 1px 9px -3px rgba(201, 197, 201, 0.2);
}

.section-card-to {
  display: flex;
  flex-direction: column;
  font-family: "Great Vibes", cursive;
  justify-content: center;
  align-items: center;
}

.section-card-to span {
  font-size: 1.5em;
  color: var(--messageHighlights);
}

.section-card-to h1 {
  font-size: 2em;
  margin: 0 15px;
  color: var(--fontColor);
  text-transform: capitalize;
}

.section-card-from {
  display: flex;
  flex-direction: column;
  font-family: "Great Vibes", cursive;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.section-card-from h3 {
  font-size: 1.2em;
  margin: 0 15px;
  color: var(--fontColor);
  text-transform: capitalize;
}

.section-card-from span {
  font-size: 1.2em;
  color: var(--messageHighlights);
}

.section-card-body {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-card-body span {
  font-size: 1.2em;
  color: var(--messageHighlights);
  font-family: "Great Vibes", cursive;
}

.section-card-body p {
  font-size: 0.8em;
  width: 70%;
  color: var(--fontColor);
  font-weight: 500;
  text-align: center;
}

.content-section-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-actions-download,
.section-actions-share {
  text-transform: capitalize;
  height: 40px;
  flex: 0.5;
  border-radius: 3px;
  color: var(--white);
  letter-spacing: 0.19px;
  font-weight: 600;
}

.section-actions-download {
  background-color: var(--fontColor);
}

.section-actions-share {
  background-color: var(--valentineColor);
}

@media screen and (min-width: 426px) {
  .main-section .code-section .code-content code.tab-1, 
  .main-section .code-section .code-content code.tab-2 {
    margin-left: 0;
  }

  .main-section .code-section .code-content code .line-number {
    display: unset;
    margin-right: 0.5rem;
  }

  .main-section .code-section .code-footer .form-control .form-group input,
  .main-section .code-section .code-footer .form-control .form-group textarea {
    padding: 0.65rem;
    font-size: 11px;
  }

  .content-section-card {
    width: 68%;
    height: 60%;
    margin-top: 3em;
    margin-bottom: 2em;
    background-image: url("../assets/card_bg.png");
    background-size: 100% 100%;
    background-position: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding-top: 10em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 1px 9px -3px rgba(201, 197, 201, 0.2);
    -moz-box-shadow: 0px 1px 9px -3px rgba(201, 197, 201, 0.2);
    box-shadow: 0px 1px 9px -3px rgba(201, 197, 201, 0.2);
  }
  
  .section-card-to {
    display: flex;
    flex-direction: column;
    font-family: "Great Vibes", cursive;
    justify-content: center;
    align-items: center;
  }
  
  .section-card-to span {
    font-size: 1.5em;
    color: var(--messageHighlights);
  }
  
  .section-card-to h1 {
    font-size: 2em;
    margin: 0 15px;
    color: var(--fontColor);
    text-transform: capitalize;
  }
  
  .section-card-from {
    display: flex;
    flex-direction: column;
    font-family: "Great Vibes", cursive;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
  }
  
  .section-card-from h3 {
    font-size: 1.2em;
    margin: 0 15px;
    color: var(--fontColor);
    text-transform: capitalize;
  }
  
  .section-card-from span {
    font-size: 1.2em;
    color: var(--messageHighlights);
  }
  
  .section-card-body {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .section-card-body span {
    font-size: 1.2em;
    color: var(--messageHighlights);
    font-family: "Great Vibes", cursive;
  }
  
  .section-card-body p {
    font-size: 0.8em;
    width: 70%;
    color: var(--fontColor);
    font-weight: 500;
    text-align: center;
  }
  
  .content-section-actions {
    display: flex;
    justify-content: space-between;
    width: 68%;
  }
  
}

@media screen and (min-width: 769px) {
  .main-section {
    flex-direction: row;
  }

  .main-section .code-section {
    order: 0;
  }

  .main-section .code-section .code-header {
    padding: 0.75rem 1rem;
  }

  .main-section .code-section .code-header .title {
    font-size: 18px;
  }

  .main-section .code-section .code-content {
    padding: 2rem;
  }

  .main-section .code-section .code-content code {
    font-size: 11px;
  }

  .main-section .code-section .code-content code .line-number {
    margin-right: 1rem;
  }

  .main-section .code-section .code-footer {
    padding: 1.2rem 2rem;
  }
  .main-section .code-section .code-footer .form-control {
    padding: 1rem 0.5rem;
  }

  .main-section .code-section .code-footer .form-control.justify-end {
    justify-content: flex-start;
  }

  .main-section .code-section .code-footer .form-control .form-group input,
  .main-section .code-section .code-footer .form-control .form-group textarea {
    padding: 0.6rem;
    font-size: 14px;
  }

  .main-section .code-section .code-footer .form-control .img-wrapper {
    width: 150px;
  }

  .content-section-logo {
    padding: 4em 0;
  }

  .content-section-logo h3 {
    font-size: 1.8em;
  }

  .content-section-card {
    width: 68%;
    height: 60%;
    margin-top: 3em;
    margin-bottom: 2em;
    background-image: url("../assets/card_bg.png");
    background-size: 100% 100%;
    background-position: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding-top: 10em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 1px 9px -3px rgba(201, 197, 201, 0.2);
    -moz-box-shadow: 0px 1px 9px -3px rgba(201, 197, 201, 0.2);
    box-shadow: 0px 1px 9px -3px rgba(201, 197, 201, 0.2);
  }
  
  .section-card-to {
    display: flex;
    flex-direction: column;
    font-family: "Great Vibes", cursive;
    justify-content: center;
    align-items: center;
  }
  
  .section-card-to span {
    font-size: 1.5em;
    color: var(--messageHighlights);
  }
  
  .section-card-to h1 {
    font-size: 2em;
    margin: 0 15px;
    color: var(--fontColor);
    text-transform: capitalize;
  }
  
  .section-card-from {
    display: flex;
    flex-direction: column;
    font-family: "Great Vibes", cursive;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
  }
  
  .section-card-from h3 {
    font-size: 1.2em;
    margin: 0 15px;
    color: var(--fontColor);
    text-transform: capitalize;
  }
  
  .section-card-from span {
    font-size: 1.2em;
    color: var(--messageHighlights);
  }
  
  .section-card-body {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .section-card-body span {
    font-size: 1.2em;
    color: var(--messageHighlights);
    font-family: "Great Vibes", cursive;
  }
  
  .section-card-body p {
    font-size: 0.8em;
    width: 70%;
    color: var(--fontColor);
    font-weight: 500;
    text-align: center;
  }
  
  .content-section-actions {
    display: flex;
    justify-content: space-between;
    width: 68%;
  }
  
}

@media screen and (min-width: 1300px) {
  .main-section .code-section .code-content code {
    font-size: 13px;
    line-height: 18px;
  }
}
