:root {
  --white: #ffffff;
  --black: #111111;
  --fontColor: #2d2f48;
  --valentineColor: #f22f46;
  --contentSectionBg: #fbfbfb;
  --messageHighlights: #e2738e;
}

.content-section {
  display: flex;
  justify-content: center;
  background-color: var(--contentSectionBg);
}

.content-section-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.content-section-logo {
  text-transform: capitalize;
  color: var(--fontColor);
  padding: 4em 0;
}

.content-section-logo h3 {
  font-size: 1.8em;
}

.content-section-logo span {
  color: var(--valentineColor);
}

.content-section-card {
  width: 68%;
  height: 60%;
  margin-top: 3em;
  margin-bottom: 2em;
  background-image: url("../assets/card_bg.png");
  background-size: 100% 100%;
  background-position: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding-top: 10em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 9px -3px rgba(201, 197, 201, 0.2);
  -moz-box-shadow: 0px 1px 9px -3px rgba(201, 197, 201, 0.2);
  box-shadow: 0px 1px 9px -3px rgba(201, 197, 201, 0.2);
}

.section-card-to {
  display: flex;
  flex-direction: column;
  font-family: "Great Vibes", cursive;
  justify-content: center;
  align-items: center;
}

.section-card-to span {
  font-size: 1.5em;
  color: var(--messageHighlights);
}

.section-card-to h1 {
  font-size: 2em;
  margin: 0 15px;
  color: var(--fontColor);
  text-transform: capitalize;
}

.section-card-from {
  display: flex;
  flex-direction: column;
  font-family: "Great Vibes", cursive;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.section-card-from h3 {
  font-size: 1.2em;
  margin: 0 15px;
  color: var(--fontColor);
  text-transform: capitalize;
}

.section-card-from span {
  font-size: 1.2em;
  color: var(--messageHighlights);
}

.section-card-body {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-card-body span {
  font-size: 1.2em;
  color: var(--messageHighlights);
  font-family: "Great Vibes", cursive;
}

.section-card-body p {
  font-size: 0.8em;
  width: 70%;
  color: var(--fontColor);
  font-weight: 500;
  text-align: center;
}

.content-section-actions {
  display: flex;
  justify-content: space-between;
  width: 68%;
}

.section-actions-download,
.section-actions-share {
  text-transform: capitalize;
  height: 40px;
  flex: 0.3;
  border-radius: 3px;
  color: var(--white);
  letter-spacing: 0.19px;
  font-weight: 600;
}

.section-actions-download {
  background-color: var(--fontColor);
}

.section-actions-share {
  background-color: var(--valentineColor);
}
