:root {
  --white: #ffffff;
  --black: #111111;
  --var-text: #f7eb7a;
  --import-var: #e379f5;
  --console: #009688;
  --dark-code-bg: #162849;
  --code-bg: #233659;
  --fontColor: #2d2f48;
  --valentineColor: #f22f46;
  --contentSectionBg: #fbfbfb;
  --messageHighlights: #e2738e;
}
